* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



.imagem img{
  width: 100vw;
  
}
 
#imgcta img{
  max-height: 372px;
  width:100% ;
}

.button{
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

.botao1{
  background-color: #3cd06e;
}