* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
 
    overflow-x: hidden;

  
}
.imagem{
  height: 100%;
  margin-top: -1;
}

.imagem img{
  width: 100vw;
  margin: 0px;
  padding: 0px;
  
}
 
.video{
  margin-top: -5px;
} 

#imgcta img{
  max-height: 372px;
  width:100% ;
}

.button{
  /* width: 100%; */
  height: 50px;
  border-radius: 5px;
  width: 200px;
 
  
 
  
}


/* Botão do spotfy */

.botao1{
  background-color: #3cd06e;
  margin-top: 5px;
  
  
}

#spotfy {
  height: 40px;
  width: 40px;
  margin:5px;
  margin-top: 5px;
  
}

.spotfy a {
  text-decoration: none;
  
}

.spotfy a button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}


/* Botão do Itunes */

.botao2{
  background-color: #f03256;
  
}

.itunes a {
  text-decoration: none;
}

.itunes a button{
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.itunes{
  margin-top: 5px;
}

#itunes {
  height: 40px;
  width: 40px;
  margin:5px;
}

/*deezer*/

.botao3{
  background-color: #476DED;
  
}

.deezer a button{
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.deezer a {
  text-decoration: none;
}

.deezer{
  margin-top: 5px;
}

#deezer {
  height: 40px;
  width: 40px;
  margin:7px;
}

/* Tidal  */

.botao4{
  background-color: #A154E2;
  
}

.tidal a button{
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
 
}

.tidal a {
  text-decoration: none;
}

.tidal{
  margin-top: 5px;
}

#tidal {
  height: 40px;
  width: 40px;
  margin:5px;
  border-radius: 5px;
}

/* Youtube  */

.botao5{
  background-color: #6e6d6d;
  
}

.youtube a button{
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.youtube a {
  text-decoration: none;
 
}

.youtube{
  margin-top:5px;
}

#youtube {
  height: 40px;
  width: 40px;
  margin:5px;
}

.youtube a, .spotfy a,
.tidal a, .deezer a, .itunes a {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}



#cta h1{
  
  text-align: center;
  font-size: 2em;
  font-family: 'nunito';
  font-weight: bold;
 
}

#cta{
  margin-top:7px;
  margin-bottom: 7px;
}

#cta h1 span {
  color:green;
  font-family: 'nunito';
}


#cta>h1::after{
  content: "";
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {
  0%,80% {
    opacity:1;
  }

  50% {
    opacity:0
  }

  100% {
    opacity: 2;
  }
}

h1{
  letter-spacing: 1px;
}



@media(min-width: 900px){
  body{
    
  }

  .video{
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:-5px;
    
  }



} 

main{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2F2F2F;
  padding:10px;
  width:100%;
  margin-top:-5px;


}

footer p{
  font-family: 'nunito';
  color: white;
  font-size: 20px;
  height: 15vh;
  text-align: center;
  padding-top: 1.5em;

}

footer{
  background-color: #70747749;
  width:100%;
}

footer span {
  font-weight: bold;
}

.imagem{
  margin-top:-5px;
}